body {
  overflow-y: hidden;
}

#conversationContents {
  display: flex;
  flex-direction: row;
}

#headers {
  display: flex;
  flex-direction: row;
}

#ibpSectionHeader {
  position: relative;
  width: 33vw;
  height: 6.5vh;
  background-color: whitesmoke;
  margin-bottom: 0.3vh;
}

#messageHeader {
  width: 63.5vw;
  height: 6.5vh;
  background-color: whitesmoke;
  /*margin-bottom: 0.5vh;*/
  right: 1vw;
  position: fixed;
}

#messageHeaderPic {
  position: relative;
  left: 1vw;
  top: 0.25vh;
  height: 6vh;
  width: 3vw;
  border-radius: 2vw;
}

#messageHeaderName {
  position: absolute;
  left: 3vw;
  bottom: 1vw;
  font-size: 1.8vw;
  text-align: center;
  width: 10vw;
  height: 6vh;
}

#conversationBody {
  position: fixed;
  width: 63.5vw;
  height: 83vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  right: 1vw;
  overflow-y: auto;
}

#myMsg {
  /*  right: 1vw;*/
  background-color: grey;
  display: inline-block;
  max-width: 55vw;
  margin-bottom: 0.3vw;
  align-self: end;
  font-size: 1.2vw;
  word-wrap: break-word;
  white-space: pre-wrap;
  border-radius: 2vw;
  padding: 1vw 1vw 1vw 1vw;
  position: relative;
  bottom: 2.2vh;
  right: 0.5vw;
  /* bottom:0.1vw ;*/
}

#FriendMsg {
  /* left: 1vw;*/
  background-color: grey;
  display: inline-block;
  max-width: 55vw;
  margin-bottom: 0.3vw;
  align-self: start;
  font-size: 1.2vw;
  word-wrap: break-word;
  white-space: pre-wrap;
  border-radius: 1vw;
  padding: 1vw 1vw 1vw 1vw;
  position: relative;
  left: 0.5vw;
  bottom: 2.2vh;
}

#sent-arrow {
  align-self: end;
}

#sent-arrow::after {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-top: 1vw solid grey;
  position: absolute;
  right: 0vw;
  /* top: 0.5vh;
              left: -0.6vw;*/
}

#received-arrow {
  align-self: start;
}

#sent-msg {
  align-self: end;
}

#received-msg {
  align-self: start;
}

#received-arrow::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-top: 1vw solid grey;
  position: absolute;
  left: 0vw;
}

#ibp {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 33vw;
  height: 15vh;
  border-bottom: 1px solid black;
  position: relative;
  /* overflow: hidden;
             text-overflow: ellipsis;*/
}

div #lastMessage {
  /*text-align:center;*/
  align-self: end;
  max-height: 2.5em;
  position: absolute;
  bottom: 0;
  width: 27vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

#ibpName {
  top: 1vw;
  align-self: center;
  height: 10vh;
  width: 12vw;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

#ibpPic {
  height: 8vh;
  width: 5vw;
  position: absolute;
  bottom: 2vw;
  margin-left: 0.5vw;
  border-radius: 5vw;
}

#ibpTimeSent {
  position: absolute;
  top: 0.5vw;
  right: 1vw;
}

#ibpUnseenMessages {
  position: absolute;
  top: 2.5vw;
  right: 1vw;
  height: 3vh;
  width: 3vw;
  background-color: black;
  color: whitesmoke;
  border-radius: 2vw;
  text-align: center;
}

#conversationBox {
  /* overflow-y: scroll;*/
}

#conversationFooter {
  background-color: whitesmoke;
  height: 7vh;
  width: 63vw;
  bottom: 1vw;
  text-align: center;
  position: fixed;
  right: 1vw;
}

#inputSection {
  right: 6vw;
  position: absolute;
  bottom: 1vw;
}

#ibpSection {
  overflow-y: scroll;
  position: relative;
  height: 92vh;

  &::-webkit-scrollbar {
    /*width: 0.5em;
                height: 0.5em;*/
  }

  &::-webkit-scrollbar-track {
    bottom: 0;
    position: absolute;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;

    &:hover {
      /* background: rgba(255,255,255,.2);*/
      background-color: #555;
    }
  }
}

#received-media-arrow::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-top: 1vw solid grey;
  position: absolute;
  left: 0vw;
}

#received-msg-img {
  align-self: start;
  height: 54vh;
  width: 32vw;
  background-color: grey;
  margin-left: 1vw;
  margin-top: 1vh;
  border-radius: 1vw;
}
#received-img {
  height: 50vh;
  width: 30vw;
  align-self: center;
  margin-left: 1vw;
  margin-top: 1vh;
  padding-bottom: 1vh;
}
#received-timeSent-img {
  position: relative;
  top: -3vh;
  margin-left: 1vw;
}

#sent-media-arrow::after {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-top: 1vw solid grey;
  position: absolute;
  right: 0vw;
  /* top: 0.5vh;
              left: -0.6vw;*/
}

#sent-msg-img {
  align-self: end;
  height: 54vh;
  width: 32vw;
  background-color: grey;
  margin-right: 1vw;
  margin-top: 1vh;
  border-radius: 1vw;
}
#sent-img {
  height: 50vh;
  width: 30vw;
  align-self: center;
  margin-left: 1vw;
  margin-top: 1vh;
  padding-bottom: 1vh;
}

#sent-timeSent-img {
  position: relative;
  top: -3vh;
  margin-left: 1vw;
}
.logo {
  width: 2vw;
  height: 4vh;
  position: relative;
  padding-left: 1vw;
  padding-top: 1vh;
}
